/***************/
/*    FOOTER   */
/***************/
.footer {
  grid-area: f;
  margin-top: $s*2;
  margin-bottom: $s*2;
  color: $c-shade-3;
  text-align: center;
  font-style: italic;
  font-size: 1.4rem;

  a {
    color: $c-shade-3;

    &:hover {
      color: $c-main;
    }
  }
  p {
    margin-top: $s;
    margin-bottom: $s;
  }
}

@media (max-width: 600px) {
  .footer span {
    display: block;
    margin-top: $s;
  }
}
