/****************/
/*   BUTTONS    */
/****************/
@mixin button($c-b-bg: $c-main, $c-b-txt: $c-sub, $c-b-border: $c-main) {
  display: inline-block;
  border: 1px solid $c-b-border;
  padding: $s/2;
  text-transform: uppercase;
  color: $c-b-txt;
  border-radius: 40px;
  background: $c-b-bg;
  transition: $t;

  &:hover {
    background: $c-b-txt;
    color: $c-b-bg;
    transform: scale(1.02);
  }
}

.btn {
  @include button();
}
.btn-snd {
  @include button($c-sub, $c-text, $c-shade-2);
}
