/***************/
/*    HEADER   */
/***************/
.header {
  grid-area: h;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $c-shade-2;
  padding: $s/2;

  .btn-snd {
    margin-left: auto;
    margin-right: $s;
  }
  [class*="btn"] {
    padding-top: 5px;
    padding-bottom: 5px;

    &::before {
      display: inline-block;
      vertical-align: bottom;
      font-size: 1.2em;
    }
  }
}
.btn-add-joke {
  @include iconfont('star-2');
}
.btn-jokes {
  @include iconfont('star');
}


@media (max-width: 499px) {
  .header [class*=btn] span {
    display: none;
  }
}
@media (min-width: 500px) {
  .header [class*=btn]::before {
    margin-right: 5px;
  }
}