/***************/
/*    Reset    */
/***************/
/* Remove margin/padding */
body,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	margin: 0;
}
ul,
button {
	padding: 0;
}

/* create HTML5 tag */
article,
aside,
footer,
header,
main,
nav,
section,
picture {
	display: block;
}

/* Hide element */
[hidden],
[aria-hidden="true"] {
  display: none;
}

/* Special elements */
img {
	max-width: 100%;
	border: 0;
}
textarea {
  font: 1em $f-main;
	resize: none;
}
input {
  font: 1em $f-main;

	&[type="text"] {
		-webkit-appearance:none;
	}
	&[type="submit"] {
		border: 0;
		cursor: pointer;
	}
}
[type="submit"] {
	-webkit-appearance: none;
}
button {
	border: 0;
  font: 1em $f-main;
	cursor: pointer;
	background: transparent;
}
abbr[title] {
	border-bottom: none;
  text-decoration: none;
}
