/* Special elements */
html {
  font: 62.5% $f-main;
  color: $c-text;
  background: $c-sub;
  font-weight: 300;
}
body {
  font-size: 1.6rem;
	overflow-x: hidden;
}
ul,
ol {
	list-style: none;
}
a {
  text-decoration: none;
  transition: $t;
}

